html {
  background-color: slategray;
}

body {
  padding: .5rem 2rem;
}

h1 {
  color: ghostwhite;
  font-size: 4rem;
  text-shadow: .1rem .1rem 2rem black;
}

main {
  margin: 2rem 0 0 0;
}

.card {
  display: block;
  height: 8rem;
  background-color: white;
  border-radius: 2rem;
  margin: 0 0 2rem 0;
}
